@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html, body{
    height: 100%;
    margin: 0;
}

body{
    height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.navbar-list {
    padding-left: 105px;
    padding-top: 45px;
    display: flex;
    gap: 3.5rem;
    list-style-type: none;
    color: rgb(135, 0, 0);
    font-weight: 650;
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

main{
    padding-left: 120px;
    display: flex;
    gap: 10rem;
    align-items: center;
}

.about-me {
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 40%;
    text-align: justify;
    padding: 1rem 1.4rem;
    border: 2px solid red;
  }

.about-me h1 {
  font-size: 3rem;
}

.about-me p {
  font-weight: 300;
}

.about-me-image {
  width: 18rem;
  border-radius: 95%;
  border: 2px solid rgb(41, 1, 106);
  height: fit-content;
}

footer {
    margin-top: auto;
    padding-top: 1rem;
    background-color: rgb(152, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    flex-shrink: 0;
  }
  
  footer ul {
      display: flex;
      gap: 2rem;
      list-style: none;
      margin-bottom: 1rem;
  }
  
  footer a {
      text-decoration: none;
      color: white;
      font-weight: 600;
  }
  
  @media only screen and (max-width: 768px) {
  
      body {
          justify-content: center;
      }
  
      .navbar-list {
          justify-content: center;
          padding-left: 0;
          padding-top: 40px; 
          margin-bottom: 0;
      }
      
      main {
          margin-top: 0;
          flex-direction: column-reverse;
          padding-left: 0;
          gap: 1rem;
      }
  
      .about-me-image {
          width: 18rem;
      }
  
      .about-me {
          width: 70%;
          height: 400px;
          overflow-y: auto;
      }
  
      .about-me h1 {
          text-align: center;
      }
  
      .about-me p {
          font-size: 1.2rem;
      }
  }